@media (max-width: 450px) {
  /* SESSÃO CABEÇALHO HEADER */

  .cabecalho__nomes__itens .sobre-mim,
  .skills,
  .hobbies,
  .formacao,
  .projetos {
    display: none;
  }

  /* SESSÃO APRESENTAÇÃO */
  .sessao__apresentacao__container {
    display: flex;
    flex-direction: column-reverse;
    align-items: start;
    margin: 16px 16px;
  }

  .sessao__apresentacao__perfil h1 {
    margin-top: 16px;
    width: 328px;
    height: 48px;
    font-size: 16px;
    line-height: 16.44px;
  }

  .sessao__apresentacao__perfil p {
    width: 328px;
    height: 51px;
    font-size: 16px;
    line-height: 16.44px;
  }

  .sessao__apresentacao__links__container ul {
    gap: 8px;
    padding: 16px 0 16px 0;
  }

  .sessao__apresentacao__links__container ul li {
    display: flex;
  }

  .sessao__apresentacao__links__container ul li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 16.44px;
  }

  .sessao__apresentacao__links__container ul li img {
    width: 15px;
    height: 14px;
  }

  .img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  /* SESSÃO SOBRE MIM */
  .sessao__sobre__mim__itens {
    margin: 16px;
  }

  .sessao__sobre__mim__itens div h2 {
    font-size: 22px;
    line-height: 25.83px;
  }

  .sessao__sobre__mim__itens div p {
    font-size: 14px;
    line-height: 16.44px;
  }

  /* SESSÃO SKILLS */

  .sessao__skill {
    margin: 16px;
  }

  .sessao__skill__nome {
    font-size: 22px;
    line-height: 25.83px;
  }

  .sessao__skill__itens ul {
    gap: 16px;
  }

  .sessao__skill__itens ul li {
    width: 156px;
    height: 118px;
  }

  /* SESSÃO HOBBIES */
  .sessao__hobbies {
    margin: 16px;
  }

  .sessao__hobbies__nome {
    font-size: 22px;
    line-height: 25.83px;
  }

  .sessao__hobbies__itens ul {
    gap: 16px;
  }

  .sessao__hobbies__itens ul li {
    width: 156px;
    height: 118px;
  }

  /* SESSÃO FORMAÇÃO ACADÊMICA */

  .sessao__formacao__academica__nome p {
    font-size: 22px;
    line-height: 25.83px;
  }

  .sessao__formacao__academica__itens__container {
    display: flex;
    flex-direction: column;
    margin: 16px;
  }

  .sessao__formacao__academica__item {
    width: 296px;
    height: 118px;
  }

  .formacao__academica__img__ufpr {
    width: 125px;
    height: 70px;
  }

  .formacao__academica__img__alura {
    width: 125px;
    height: 70px;
  }

  .formacao__academica__img__ufrj {
    width: 125px;
    height: 70px;
  }

  .formacao__academica__span {
    font-size: 14px;
    line-height: 16.44px;
  }

  .formacao__academica__span__status {
    font-size: 14px;
    line-height: 16.44px;
  }

  /* SESSÃO EXPERIÊNCIA PROFISSIONAL*/

  .experiencia__profissional__nome {
    font-size: 22px;
    line-height: 25.83px;
    padding: 32px 0px 0px 0px;
  }

  /* JOGO DECODIFICADOR*/

  .experiencia__decodificador__container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 32px;
  }

  .experiencia__decodificador__img {
    width: 331px;
    height: 196px;
  }

  .experiencia__decodificador__itens {
    padding: 0px 0px;
  }

  .decodificador__texto1 {
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    line-height: 18.78px;
  }

  .decodificador__texto2 {
    font-size: 14px;
    line-height: 16.44px;
  }

  .decodificador__texto__button1 {
    width: 108px;
    height: 40px;
    gap: 10px;
  }

  .decodificador__texto__button2 {
    width: 108px;
    height: 40px;
  }

  /* JOGO FORCA */

  .experiencia__jogo__forca__container {
    flex-direction: column-reverse;
    padding: 64px 32px;
  }

  .experiencia__jogo__forca__itens {
    padding: 0px 0px;
  }

  .experiencia__jogo__forc__img {
    width: 331px;
    height: 196px;
    padding-bottom: 16px;
  }

  .jogo__forca__texto1 {
    font-size: 16px;
    line-height: 18.79px;
  }

  .jogo__forca__texto2 {
    font-size: 14px;
    line-height: 16.44px;
  }

  .jogo__forca__texto__button1 {
    width: 108px;
    height: 40px;
  }

  .jogo__forca__texto__button2 {
    width: 108px;
    height: 40px;
  }

  /* CÓDIGO SECRETO*/

  .experiencia__codigo__secreto__container {
    display: flex;
    flex-wrap: wrap;
    padding: 32px 32px;
  }

  .experiencia__codigo__secreto__itens {
    padding: 0px 0px;
  }

  .experiencia__codigo__secreto__img {
    width: 331px;
    height: 196px;
    padding-bottom: 16px;
  }

  .codigo__secreto__texto1 {
    font-size: 16px;
    line-height: 18.79px;
  }

  .codigo__secreto__texto2 {
    font-size: 14px;
    line-height: 16.44px;
  }

  .codigo__secreto__texto__button1 {
    width: 108px;
    height: 40px;
  }

  .codigo__secreto__texto__button2 {
    width: 108px;
    height: 40px;
  }

  /* JOGO FORCA 2*/

  .experiencia__jogo__forca__2__container {
    flex-direction: column-reverse;
    padding: 64px 32px;
  }

  .experiencia__jogo__forca__2__itens {
    padding: 0px 0px;
  }

  .jogo__forc__2__img {
    width: 331px;
    height: 196px;
    padding-bottom: 16px;
  }

  .jogo__forca__2__texto1 {
    font-size: 16px;
    line-height: 18.79px;
  }

  .jogo__forca__2__texto2 {
    font-size: 14px;
    line-height: 16.44px;
  }

  .jogo__forca__2__texto__button1 {
    width: 108px;
    height: 40px;
  }

  .jogo__forca__2__texto__button2 {
    width: 108px;
    height: 40px;
  }

  /* CONTATO */
  .contato__container__itens {
    display: flex;
    margin: 32px 32px;
  }

  .contat__img {
    display: none;
  }

  .contato__nome {
    font-size: 22px;
    line-height: 25.83px;
  }

  .footer {
    margin-top: 20px;
  }
}
